.btn-primary {
  background-color: var(--primary);
  border-color: 1px solid var(--primary);
  &:hover {
    background-color: var(--primary-light);
    border-color: 1px solid var(--primary-light);
  }
  &:focus {
    background-color: var(--primary-light);
    border-color: 1px solid var(--primary-light);
  }
  &:active {
    background-color: var(--primary-light) !important;
    border-color: 1px solid var(--primary-light) !important;
  }
}

.btn-secondary {
  background-color: var(--body-tertiary-bg);
  border-color: 1px solid var(--body-tertiary-bg);
  &:hover {
    background-color: var(--color-grayscale800);
    border-color: 1px solid var(--color-grayscale800);
  }
  &:focus {
    background-color: var(--color-grayscale800);
    border-color: 1px solid var(--color-grayscale800);
  }
  &:active {
    background-color: var(--color-grayscale800) !important;
    border-color: 1px solid var(--color-grayscale800) !important;
  }
}

.btn-secondary-light {
  color: var(--body-color);
  background-color: var(--color-grayscale700);
  border-color: var(--color-grayscale700);
  &:hover {
    background-color: var(--body-secondary-light-bg);
    border-color: 1px solid var(--body-secondary-light-bg);
  }
  &:focus {
    background-color: var(--body-secondary-light-bg);
    border-color: 1px solid var(--body-secondary-light-bg);
  }
  &:active {
    background-color: var(--body-secondary-light-bg) !important;
    border-color: 1px solid var(--body-secondary-light-bg) !important;
  }
}

.btn-secondary-transparent {
  color: var(--body-color);
  background-color: transparent;
  border-color: transparent;
  &:hover {
    background-color: var(--body-secondary-light-bg);
    border-color: 1px solid var(--body-secondary-light-bg);
  }
  &:focus {
    background-color: var(--body-secondary-light-bg);
    border-color: 1px solid var(--body-secondary-light-bg);
  }
  &:active {
    background-color: var(--body-secondary-light-bg) !important;
    border-color: 1px solid var(--body-secondary-light-bg) !important;
  }
}
