* {
  margin: 0;
  padding: 0;

  --body-color: white;
  --primary: #1ed760;
  --primary-light: #2ee06c;

  --body-bg: #1d1d1b;
  --body-secondary-bg: #1f1f1f;
  --body-secondary-light-bg: #51514E;
  --body-tertiary-bg: #2b2b2b;

  --color-grayscale800: #333333;
  --color-grayscale700: #393936;
  --color-grayscale600: #686868;
  --color-grayscale500: #999999;
  --color-grayscale400: #CCCCCC;
  --color-grayscale300: #DDDDDD;
  --color-grayscale200: #EEEEEE;
  --color-grayscale100: #FFFFFF;
}
