<footer class="footer w-100 d-flex flex-column gap-3 align-items-center justify-content-center py-5 px-5">
  <img src="assets/images/brand.svg" alt="Klipclub logo" width="170" loading="lazy" class="mb-4">
  <div class="d-flex gap-4 links">
    <a href="#" class="text-decoration-none text-white">Legal</a>
    <a href="#" class="text-decoration-none text-white">Privacy Center</a>
    <a href="#" class="text-decoration-none text-white">Privacy Policy</a>
    <a href="#" class="text-decoration-none text-white">Cookies</a>
    <a href="#" class="text-decoration-none text-white">About Ads</a>
    <a href="#" class="text-decoration-none text-white">&#64; 2022 Klipclub</a>
  </div>
  <div class="d-flex gap-3">
    <a href="https://www.facebook.com/klipclub" target="_blank" class="d-flex align-items-center text-decoration-none p-2 rounded-circle btn-secondary">
      <i class="fa-brands fa-facebook-f fs-5 text-white"></i>
    </a>
    <a href="https://www.instagram.com/klipclub" target="_blank" class="d-flex align-items-center text-decoration-none p-2 rounded-circle btn-secondary">
      <i class="fa-brands fa-instagram fs-5 text-white"></i>
    </a>
    <a href="https://www.twitter.com/klipclub" target="_blank" class="d-flex align-items-center text-decoration-none p-2 rounded-circle btn-secondary">
      <i class="fa-brands fa-x-twitter fs-5 text-white"></i>
    </a>
  </div>
</footer>
