<div *ngIf="post" class="d-flex flex-column gap-2">

  <div *ngIf="post.attachments && post.attachments.length" class="attachments-grid">
    <div
      *ngFor="let attachment of post.attachments.slice(0, 4); let i = index"
      class="grid-item">
      <ng-container [ngSwitch]="attachment.type">
        <!-- Image -->
        <div *ngSwitchCase="'image'" class="h-100">
          <img [src]="attachment.url" class="card-img-top rounded-3 h-100" alt="Attachment Image" style="object-fit: cover;">
        </div>
        <!-- Video -->
        <div *ngSwitchCase="'video'" class="h-100">
          <video [src]="attachment.url" controls class="card-img-top rounded-3 h-100"></video>
        </div>
      </ng-container>
      <div *ngIf="i === 3 && post.attachments.length > 4" class="overlay cursor-pointer" (click)="openContentModal()">
        <span class="overlay-text">+{{ post.attachments.length - 4 }}</span>
      </div>
    </div>
  </div>
  <div *ngIf="post.text && post.text != ''">
    <p>{{ post.text }}</p>
  </div>

  <!-- Post Modal -->
  <ng-template #postContent let-modal>
    <div class="modal-body p-0">
      <button type="button" class="position-absolute btn-close border-0 shadow-none" aria-label="Cerrar" style="top: 1rem; right: 1rem; z-index: 10;" (click)="closeModal()"></button>
    </div>
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let att of post.attachments; let i = index">
        <div class="picsum-img-wrapper d-flex justify-content-center" style="height: 400px;">

          <ng-container [ngSwitch]="att.type">
            <!-- Image -->
            <div *ngSwitchCase="'image'" class="h-100">
              <img [src]="att.url" class="card-img-top rounded-3 h-100" alt="Attachment Image" style="object-fit: cover;">
            </div>
            <!-- Video -->
            <div *ngSwitchCase="'video'" class="h-100">
              <video [src]="att.url" controls class="card-img-top rounded-3 h-100"></video>
            </div>
          </ng-container>
        </div>
      </ng-template>
    </ngb-carousel>
  </ng-template>

</div>
